.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  background-size: cover;
  color: white;
}

.solarSystem {
  display: flex;
  text-align: center;
  width: 100%;
}

.solarSystem__control {
  display: flex;
  max-width: 100%;
}

.missionCard {
  background-color: rgba(66, 63, 63, 0.568);
  border: 5px solid rgba(24, 22, 22, 0.815);
  border-radius: 5%;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  margin: 30px 80px;
  padding: 5px 10px;
  width: 20%;
}

.mission__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planetImg {
  width: 100%;
}

.planetImg:hover {
  transform: rotate(3600deg);
  transition: transform 20s linear;
}

h1 {
  font-family: fantasy;
  font-size: 5rem;
  text-align: center;
}
